<footer role="contentinfo" id="footer">
<div class="container">
  <div class="footer-address">
    <p>
      <a href="{{ site.author.department_url }}"><strong>{{ site.author.department }}</strong></a><br />
      {{ site.author.institution }}<br />
      {{ site.author.address }}<br />
      <a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a>
    </p>
  </div>
  <div class="footer-meta">
    <p>
      <a href="{{ site.author.institution_url }}">{{ site.author.institution }}</a><br />
      <span class="footer-fineprint">&copy; {{ 'now' | date: "%Y" }} {{ site.author.name }}</span>
    </p>
  </div>
</div>
</footer>
